@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .icons div,
.header .icons a, .header .search-form label, .Paintings .box-container .box .icons a, .Photography .box-container .box .icons a, .contact .icons-container .icons i {
  color: #fff;
  cursor: pointer;
  -webkit-text-stroke: 0.1rem #000;
}

.header .icons div:hover,
.header .icons a:hover, .header .search-form label:hover, .Paintings .box-container .box .icons a:hover, .Photography .box-container .box .icons a:hover, .contact .icons-container .icons i:hover {
  -webkit-text-stroke: 0.1rem #fccf08;
}

* {
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: black;
}

html::-webkit-scrollbar-thumb {
  background: #4e4e4e;
}

body {
  background: #121212;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
  background: #000;
}

.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.header .logo i {
  color: #fccf08;
  font-size: 2.3rem;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #fccf08;
}

.header .icons div,
.header .icons a {
  font-size: 1.8rem;
  margin-left: 2rem;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: -105%;
  width: 50rem;
  height: 5.5rem;
  background: #121212;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.header .search-form.active {
  right: 2rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  text-transform: none;
  color: #000;
  padding: 0 1.2rem;
  background: #121212;
  color: #fff;
}

.header .search-form label {
  font-size: 2rem;
  margin-right: 1.5rem;
  background: #121212;
}

section {
  padding: 2rem 9%;
}

.heading {
  font-size: 4rem;
  color: #fff;
  padding-bottom: 2rem;
  text-align: center;
}

.heading span {
  color: #fccf08;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: .5rem;
  background: #fccf08;
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  background: #1d1d1d;
  color: #fff;
}

#menu-btn {
  display: none;
}

.home {
  padding: 0;
  padding-top: 6.5rem;
}

.home .home-slider .slide {
  min-height: 78vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  padding-left: 7%;
  background-size: cover !important;
  background-position: center !important;
}

.banner-head {
  padding-top: 3rem;
  text-align: center;
}

.banner-head h3 {
  font-size: 5rem;
  font-weight: normal;
  color: #fff;
}

.banner-head h3 span {
  color: #fccf08;
}

.banner-head h3 span:hover {
  color: #121212;
  cursor: pointer;
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.banner-container .banner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  overflow: hidden;
  height: 35rem;
  position: relative;
}

.banner-container .banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-container .banner:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(3.8rem);
            transform: translateY(3.8rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(3.8rem);
            transform: translateY(3.8rem);
    opacity: 0;
  }
}

.Paintings .filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2.5rem;
  gap: 2rem;
}

.Paintings .filter-buttons .buttons {
  font-size: 1.7rem;
  color: #919191;
  cursor: pointer;
}

.Paintings .filter-buttons .buttons:hover, .Paintings .filter-buttons .buttons.active {
  color: #fccf08;
}

.Paintings .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.Paintings .box-container .box {
  width: 26rem;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
}

.Paintings .box-container .box.hide {
  display: none;
}

.Paintings .box-container .box.active {
  -webkit-animation: fadeUp .6s linear;
          animation: fadeUp .6s linear;
}

.Paintings .box-container .box .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  height: 35rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  gap: .5rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 1;
}

.Paintings .box-container .box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  background: white;
  border-radius: .5rem;
}

.Paintings .box-container .box:hover .icons {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.Paintings .box-container .box .image {
  height: 35rem;
  width: 100%;
  overflow: hidden;
}

.Paintings .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Paintings .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Paintings .box-container .box .content {
  padding: 1rem 1.5rem;
}

.Paintings .box-container .box .content h3 {
  font-size: 1.5rem;
  color: #fccf08;
  font-weight: bolder;
}

.Paintings .box-container .box .content .price {
  padding: .5rem 0;
}

.Paintings .box-container .box .content .price .amount {
  font-size: 1rem;
  color: lightgray;
  margin-bottom: .5rem;
}

.Paintings .box-container .box .content .price .cut {
  font-size: 1rem;
  color: lightgray;
  margin-bottom: .5rem;
}

.Paintings .box-container .box .content .price .offer {
  font-size: 1rem;
  color: lightgray;
}

.Photography {
  background-color: white;
}

.Photography .heading {
  color: #121212;
  font-size: 4rem;
  padding: 2rem;
  padding-bottom: 4rem;
  text-align: center;
  font-weight: normal;
}

.Photography .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.Photography .box-container .box {
  width: 22rem;
  height: 43.5rem;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
}

.Photography .box-container .box .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  height: 35rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  gap: .5rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 1;
}

.Photography .box-container .box .icons a {
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  background: white;
  border-radius: .5rem;
}

.Photography .box-container .box:hover .icons {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.Photography .box-container .box .image {
  height: 35rem;
  width: 100%;
  overflow: hidden;
}

.Photography .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Photography .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Photography .box-container .box .content {
  padding: 1rem 1.5rem;
}

.Photography .box-container .box .content h3 {
  font-size: 1.5rem;
  color: #121212;
  font-weight: bolder;
}

.Photography .box-container .box .content .price {
  padding: .5rem 0;
}

.Photography .box-container .box .content .price .amount {
  font-size: 1rem;
  color: #121212;
  margin-bottom: .5rem;
}

.Photography .box-container .box .content .price .cut {
  font-size: 1rem;
  color: #121212;
  margin-bottom: .5rem;
}

.Photography .box-container .box .content .price .offer {
  font-size: 1rem;
  color: #121212;
}

.Photography .box-container .box-mg {
  margin-top: 5rem;
}

.Sculpture .heading {
  padding: 1.5rem;
  padding-bottom: 4rem;
}

.Sculpture .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.Sculpture .box-container .box {
  width: 40rem;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
}

.Sculpture .box-container .box .image {
  height: 35rem;
  width: 100%;
  overflow: hidden;
}

.Sculpture .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Sculpture .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Sculpture .box-container .box .content {
  padding: 1rem 1.5rem;
}

.Sculpture .box-container .box .content h3 {
  font-size: 1.5rem;
  color: #fccf08;
  font-weight: bolder;
}

.Sculpture .box-container .box .content .price {
  padding: .5rem 0;
}

.Sculpture .box-container .box .content .price .amount {
  font-size: 1rem;
  color: lightgray;
  margin-bottom: .5rem;
}

.Sculpture .box-container .box .content .price .cut {
  font-size: 1rem;
  color: lightgray;
  margin-bottom: .5rem;
}

.Sculpture .box-container .box .content .price .offer {
  font-size: 1rem;
  color: lightgray;
}

.contact {
  background-color: #fff;
}

.contact .heading {
  color: #000;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.contact .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.contact .icons-container .icons {
  padding: 2rem;
  border-radius: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact .icons-container .icons i {
  font-size: 2.5rem;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.contact .icons-container .icons h3 {
  font-size: 3rem;
  padding: 1rem 0;
  color: #000;
}

.contact .icons-container .icons p {
  font-size: 2rem;
  line-height: 2;
  color: #121212;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}

.contact .row form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #000;
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form .inputBox input,
.contact .row form textarea {
  margin: .7rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #000;
  text-transform: none;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}

.contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  width: 100%;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 54%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
  .header {
    padding: 2rem;
  }
  .home .home-slider .slide {
    min-height: 55vh;
  }
  .banner-head {
    padding-top: 2.5rem;
  }
  .banner-head h3 {
    font-size: 4rem;
  }
}

@media (max-width: 769px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #121212;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }
  .header .search-form {
    width: 100%;
    top: 100%;
    border-radius: 0;
  }
  .header .search-form.active {
    right: 0;
  }
  .home .home-slider .slide {
    padding-left: 2rem;
  }
  .home .home-slider .slide {
    min-height: 50vh;
  }
  .banner-head {
    padding-top: 2.5rem;
  }
  .banner-head h3 {
    font-size: 3rem;
  }
  .Paintings .box-container .box {
    width: 22rem;
  }
  .Photography .box-container .box {
    width: 18rem;
  }
  .Sculpture .box-container .box {
    width: 32rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 42%;
  }
  .heading {
    font-size: 2.5rem;
  }
  .home .home-slider .slide {
    min-height: 30vh;
  }
  .banner-head {
    padding-top: 2.5rem;
  }
  .banner-head h3 {
    font-size: 2.4rem;
  }
  .Paintings .box-container .box {
    width: 90%;
  }
  .Photography .box-container .box {
    width: 90%;
  }
  .Photography .box-container .box-mg {
    margin-top: 0rem;
  }
  .Sculpture .box-container .box {
    width: 90%;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}
/*# sourceMappingURL=global.css.map */