@media (max-width:1200px){

    html {
        font-size: 54%;
    }
    
}

@media (max-width:991px){

    html {
        font-size: 50%;
    }
    .header {
        padding: 2rem;
    }

    .home {
        .home-slider {
            .slide{
                min-height: 55vh;
            }
        }
    } 
    
    .banner-head {
        padding-top: 2.5rem;
    
        h3 {
            font-size: 4rem;
        }
    
    }
}

@media (max-width:890px) {

    .contact {
        
        .icons-container {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }
    }

    .Photography {
    
        .box-container {
        
            .box {
                width: 25rem;
            }
        }
    }

}

@media (max-width:769px){
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: $dark;
        border-bottom: $border;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        &.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        a {
            font-size: 2rem;
            margin: 2rem;
            display: block;
        }
    }

    .header .search-form {
        width: 100%;
        top: 100%;
        border-radius: 0;

        &.active {
            right: 0;
        }
    }

    .home .home-slider .slide {
        padding-left: 2rem;
    }

    .home {
        .home-slider {
            .slide{
                min-height: 50vh;
            }
        }
    } 
    
    .banner-head {
        padding-top: 2.5rem;
    
        h3 {
            font-size: 3rem;
        }
    
    }

    .Paintings {
    
        .box-container {
        
            .box {
                width: 22rem;
            }
        }
    }

    .Photography {
    
        .box-container {
        
            .box {
                width: 25rem;
            }
        }
    }

    .Sculpture {
    
        .box-container {
        
            .box {
                width: 32rem;
            }
        }
    }
    .contact .row form .inputBox input {
        width: 100%;
    }
    .contact {
        
        .icons-container {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }
    }

    .footer {
        .box-container {
            @include grid(15rem);
            
        }
    }

    .under-blog {

        .box-container{
            flex-direction: column;

            .box {
                
                .content {
                    i {
                        font-size: 5rem;
                        color: rgb(200, 175, 106);
                        margin-bottom: 1rem;
                    }
                    h3 {
                        font-size: 3rem;
                        margin-bottom: 2rem;
                    }
    
                    p {
                        font-size: 2rem;
                        line-height: 2rem;
                        letter-spacing: .1rem;
                    }
                }
            }
        }    
    }
    
}

@media (max-width:450px){

    html {
        font-size: 42%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .home {
        .home-slider {
            .slide{
                min-height: 30vh;
            }
        }
    } 
    
    .banner-head {
        padding-top: 2.5rem;
    
        h3 {
            font-size: 2.4rem;
        }
    
    }

    .Paintings {
        
        .box-container {

            .box {
                width: 90%;
            }
        }

        
    }

    .Photography {
        

        .box-container {
            

            .box {
                width: 90%;
            }

            .box-mg {
                margin-top: 0rem;
            } 
        }
    }

    .Sculpture .box-container .box {
        width: 90%;

    }

    .contact {
        .row form .inputBox input {
            width: 100%;
        }
        
    }

    .footer {
        .box-container {
            @include grid(10rem);
            
        }
    }

}