$red : #fccf08;
$black :  #000;
$dark : #121212;
$light-color : rgb(41, 41, 41);
$light-bg : #f9f9f9;
$border : .1rem solid rgba(0,0,0,.3);
$shadow : 0 .5rem 1rem rgba(0,0,0,.1);


@mixin grid($value) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap: 1.5rem;
}

%stroke {
    color: #fff;
    cursor: pointer;
    -webkit-text-stroke: .1rem $black;

    &:hover {
        -webkit-text-stroke: .1rem $red;
    }
}
